@{
    Layout = null;
}

<!DOCTYPE html>

<html id="home-layout">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="pages">
        @ViewBag.Message
    </div>
</body>
</html>
