@using TestProjects.MVC.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <span>Data：</span>
        @if (Model != null && Model.Count > 0)
        {
            foreach (Statistics obj in Model)
            {
                @obj.Id
                @obj.Name
                @obj.TotalUsers
            }
        }
    </div>
</body>
</html>
