@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="flashContent" style="border: 5px solid black; padding: 5px; float: left;">
            <object id="wblive" name="wblive" align="middle" width="480" height="360" type="application/x-shockwave-flash"
                data="http://js.99ducaijing.com/js/flash/wblive1509111346.swf">
                <param name="quality" value="high">
                <param name="bgcolor" value="#ffffff">
                <param name="allowscriptaccess" value="always">
                <param name="allowfullscreen" value="true">
                <param name="hasPriority" value="true">
                <param name="wmode" value="Opaque">
                <param name="swliveconnect" value="true">
                <param name="flashvars" value="teacher=0&kid=40000&subid=&ui1=1&rtmpip=pull.99ducaijing.cn&kname=&teachername=">
            </object>
        </div>
        <!-- IE8下flash可加载方式 -->
        <div style="border: 5px solid black; padding: 5px; float: left;">
            <object width="200" height="200" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#4,0,0,0">
                <param name="src" value="clock.swf" />
                <param name="quality" value="high" />
            </object>
        </div>
        <!-- IE8下flash可加载方式 -->
        @*        <div style="border: 5px solid black; padding: 5px; float: left;">
            <object width="200" height="200" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#4,0,0,0">
                <param name="src" value="clock.swf" />
                <param name="quality" value="high" />
            </object>
        </div>*@
    </div>
</body>
</html>
