@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="pages">
        <object id="wblive" name="wblive" align="middle" width="480" height="360" type="application/x-shockwave-flash" data="http://js.99ducaijing.com/js/flash/wblive1509111346.swf">
            <param name="quality" value="high"><param name="bgcolor" value="#ffffff">
            <param name="allowscriptaccess" value="always">
            <param name="allowfullscreen" value="true">
            <param name="hasPriority" value="true">
            <param name="wmode" value="Opaque">
            <param name="swliveconnect" value="true">
            <param name="flashvars" value="teacher=0&kid=40000&subid=&ui1=1&rtmpip=pull.99ducaijing.cn&kname=&teachername=">
        </object>
    </div>
    <script type="text/javascript">
    
    </script>
</body>
</html>
